<div class="flex flex-column h-full sidebar">
    <div class="flex align-items-center justify-content-between  pt-3 flex-shrink-0">
        <span class="inline-flex align-items-center gap-2">
            <span class="font-semibold text-2xl text-primary">Editor Panel</span>
        </span>
        <span>
            <p-button type="button" (onClick)="sidebarToggle()" icon="pi pi-times" rounded="true" outlined="true"
                styleClass="h-2rem w-2rem"></p-button>
        </span>
    </div>
    <!-- <div class="overflow-y-auto"> -->
    <div class="sidebar-body">
        <quill-editor *ngIf="selectedElement?.type==='richText'" [formControl]="control" class="content-editor"
            [placeholder]="''" [modules]="QuillConfiguration" (onContentChanged)="changeText()"> </quill-editor>
        <label></label>
 
        <div class="mockup-option-editor" *ngIf="selectedElement?.type==='mockup'">
            <div class="single-form-item ">
                <label for="imageupload" class="form-lable">Upload Screenshot</label>
                <div class="flex-row-reverse mt-3">
                    <p-fileUpload id="imageupload" mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload"
                        name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                        maxFileSize="1000000" />
                </div>
            </div>


            <div class="single-form-item mt-4">
                <label for="imageupload" class="form-lable">Device Type</label>
                <div class="flex-row-reverse mt-3">
                    <p-dropdown [options]="mockupModel" optionLabel="name" placeholder="Select a City" />
                </div>
            </div>

            <div class="single-form-item mt-4">
                <label for="imageupload" class="form-lable">Mockup Design</label>
                <div class="flex-row-reverse mt-3">
                    <p-dropdown [options]="mockupdisplay" optionLabel="name" placeholder="Select a City" />
                </div>
            </div>

            <div class="single-form-item mt-4">
                <label for="imageupload" class="form-lable">Shadow</label>
                <div class="mt-3 flex-row-reverse">
                    <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" />
                </div>

                <div class="shadow-body">
                    <div class="flex flex-row justify-content-between align-items-center mt-3">
                        <label for="imageupload" class="form-lable">
                            x direction
                        </label>

                        <p-inputNumber class="input-number-50" inputId="mile" suffix=" px" />
                    </div>
                    <div class="flex flex-row justify-content-between align-items-center mt-3">
                        <label for="imageupload" class="form-lable">
                            y direction 
                        </label>
                        <p-inputNumber (onInput)="shadowXupdate('offsetX', $event.value)" class="input-number-50" inputId="mile" suffix=" px" />
                    </div>
                    <div class="flex flex-row justify-content-between align-items-center mt-3">
                        <label for="imageupload" class="form-lable">
                            Shadow Color 
                        </label>
                        <p-colorPicker  />
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="mt-auto">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <a pRipple
            class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <span class="font-bold">Amy Elsner</span>
        </a>
    </div>
</div>