<app-headbar />
<div class="grid">
    <div class="col-sidebar" >
        <app-sidebar (sidebarEvent)="toggleSidebar($event)" />
    </div>

    <div class="col-main-content">
        <!-- <p-card class="main-content pt-0" > -->
        <div class="canvas-holder" style="height: 800px; overflow-x: scroll; overflow-y: hidden;" #canvasHolder>
            <div style="width: 100%;height: 100%;display: flex;">
                <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                    style="display: flex;width: fit-content; margin-right: 10px;" [screenid]="1" />
                <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                    style="display: flex;width: fit-content; margin-right: 10px;" [screenid]="2" />

                <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                    style="display: flex;width: fit-content; margin-right: 10px;" [screenid]="3" />
                <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                    style="display: flex;width: fit-content; margin-right: 10px;" [screenid]="4" />
                <!-- <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                        style="display: flex;width: fit-content;margin-right: 10px;" />
                    <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                        style="display: flex;width: fit-content;margin-right: 10px;" />
                    <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                        style="display: flex;width: fit-content;margin-right: 10px;" />
                    <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                        style="display: flex;width: fit-content;margin-right: 10px;" />
                    <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width"
                        style="display: flex;width: fit-content;margin-right: 10px;" /> -->
                <!-- <app-singlescreen *ngIf="height!==0 && width!==0" [height]="height" [width]="width" /> -->
            </div>
        </div>
        <!-- </p-card> -->
    </div>
</div>